version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "6969:6969"
    env_file:
      - .env
    environment:
      - PORT=6969
    restart: unless-stopped

